name = "mail-app-worker-test"
main = "workers/api/index.js"
compatibility_date = "2024-10-22"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "test-db"
database_id = "test-id"
